<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <httpRedirect enabled="false" destination="" />
        <rewrite>
            <rules>
                <rule name="Regla 1 importada" stopProcessing="true">
                    <match url="^(.*)/$" ignoreCase="false" />
                    <action type="Redirect" url="/{R:1}" redirectType="Permanent" />
                </rule>
                <rule name="Regla 2 importada" stopProcessing="true">
                    <match url="^" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" ignoreCase="false" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="index.php" />
                </rule>
            </rules>
            <outboundRules>
                <rule name="Enable CORS for Fonts">
                    <match serverVariable="RESPONSE_Access_Control_Allow_Origin" pattern=".*" />
                        <conditions>
                            <add input="{REQUEST_URI}" pattern="^[^\?]+\.(ttf|otf|eot|woff|woff2|svg)(\?.*)?$" />
                        </conditions>
                    <action type="Rewrite" value="*" />
                </rule>
            </outboundRules>
        </rewrite>
        <staticContent>
            <!--<mimeMap fileExtension=".woff2" mimeType="application/font-woff" />-->
        </staticContent>
        <security>
            <requestFiltering>
                <requestLimits maxAllowedContentLength="400000000" maxUrl="2048" maxQueryString="10000000" />
            </requestFiltering>
        </security>
    </system.webServer>
</configuration>
